<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DatabaseConnection" connectionString="Server=DESKTOP-7UQ04AE\AHSANSS; Database=Credentials Manager;     Integrated Security=True;" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>